<%- include("partials/header.ejs") %>

  <h1>Home Page</h1>

  <% if (typeof a !== 'undefined') { %>
    <% for( let i = 0; i < a.length; i++ ) { %>
      <ul style="list-style-type: none;">
        <li style="text-align: left;"><%- a[i].innerHTML %></li>
        <% if (i < a.length - 1) { %>
          <hr>
        <% } %>
      </ul>
      <% } %>
  <% } %>
  

  <%- include("partials/footer.ejs") %>